/*
#558C89 Dark Green
#74AFAD Light Green
#D9853B Orange
#ECECEA Light grey

/*News Paper Font*/
@font-face{
  font-family: 'aflfont';
  src: url('aflfont.ttf');
}

/*---------Basic Setup---------*/
/*Reset all attributes*/
*{
  padding:0;
  margin:0;
}

body{
  width: 100%;
  padding: 0;
  margin: 0;
  background: #ECECEA ;
  height: auto; 
}

h1{
  padding-top:30px;
  margin:0;
}

section{
  margin-top: 10px;
  margin-bottom: 100px;
}

a{
  color: #000;
  padding: 20px;
  margin-top: 5px;
  font-size: 40px;
  font-family: 'aflfont',sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

a:hover{
    color:#558C89;
    text-decoration: none;
}


h1.subscribeHeading{
  font-size: 60px;
  font-family: 'aflfont',sans-serif;
  font-weight: 700;
  color: #D9853B;
  margin:0;
  padding: 10px;

}

p.subscribeText{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.articleHeader{
  margin: 20px 0 20px 0;
}


.articleSections{
  height: 500px;
}

/*Wiki click search container*/
.wikiContainer{
  margin-top: 150px;
}

/*Wikki Paragraph*/
.wikiClick{
  color: #fff;
  font-size: 25px;
  font-weight: 700px;
  font-family: 'Roboto', sans-serif;
}


/* Styling of Container an Wrapper that holds the Articles */

.container{
  z-index: 10;
  padding: 0;
}

#wrapper{
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

.row{
  text-align: center;
  display: inline-block;
}

/*---- Header, Hero-Image, Logo, text, and Buttons  NewsLetter Form--*/
 header{
  background:#3544af;
  width: 100%;
} 
#sourcelessLogo{
 width: 500px;
 text-align: center;
 margin:0, auto;
 padding:0;
}

.hero-image{
  width: 100%;
  height: 800px;
  background: #74AFAD;
  -webkit-box-shadow: 0 7px 4px rgba(0,0,0,.8);
  -moz-box-shadow: 0 7px 4px rgba(0,0,0,.8);
  box-shadow: 0 7px 4px rgba(0,0,0,.8);
  margin-bottom: 30px;
}

.hero-text{
  padding:50px 30px 0 30px;
  width: 100%;
}

p.headerText{
  color: #fff;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  display: block;
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 30px;
}


/* Article Nav Links and Buttons */

section.subscribe{
  margin-top:60px;
  width: 100%;
  background: #558C89;
  height: 200px;
  border-radius: 10px;
   -webkit-box-shadow: 0 7px 4px rgba(0,0,0,.5);
 -moz-box-shadow: 0 7px 4px rgba(0,0,0,.5);
 box-shadow: 0 7px 4px rgba(0,0,0,.5);
}

input{
  width: 300px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding-right: 5px;
  height: 40px;
  background:#ECECEA;
}

.subscribe-form{
  padding-top: 10px;
}

button.subscribe-submit{
  color: #fff;
  border: 2px solid #d0d0d0;
  box-shadow: 4px 6px rgba(0,0,0,.5);
  transition: .5s ease-in;
  background-color: #D9853B;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
  padding:5px;
}
button.subscribe-submit:hover{
  color: #D9853B;
  transition: .5s ease-in;
  background-color: #fff;
}
/*-----Article Div Styling ---*/

/*Div that holds Article*/
#articleImage{
 text-align: center;
 background:#fff;
 -webkit-box-shadow: 0 7px 4px rgba(0,0,0,.8);
 -moz-box-shadow: 0 7px 4px rgba(0,0,0,.8);
 box-shadow: 0 7px 4px rgba(0,0,0,.8);
 height: 500px;
 padding-top: 20px;
 overflow: hidden;

}
/* Size of Dynamic loaded img*/
.imageSize{
  height: 430px;
  max-height: 430px;
  max-width: 700px;
  margin-left: 20px;
}
/*Dynamic Description*/
p.description{
  text-align: left;
  font-size: 25px;
  color: #000;
  font-weight: 400;
  padding:5px;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
}


/*Artcile link */
a.articleLink{
  padding:10px;
  font-size: 30px;
  }

/* Div for Dynmaic Title Container*/
#title{
  text-decoration: none;
  background: #fff;
  height: 110px;
  text-align: center;
  border:2px solid #74AFAD;
  padding: 15px 10px 20px 10px;
  width: 100%;
  overflow:hidden;
}

/*---Arrow Bounce Animation*/
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/*Posistion of arrow*/
.arrow {
  position: absolute;
  bottom: 0%;
  margin-top: 5px;
  left: 47%;
  margin-left:0px;
  width: 40px;
  height: 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
  background-size: contain;
}

/*Bouncing animation duration*/
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}


/*styling new source text*/
#newSourceText {
    color: #696969;
    font-size: 20px;
    font-weight: 700px;
    margin:0px 0px 10px 0px;
    width: 100%;
}

/*styling new source button*/
#newSource {
  color: #fff;
  border: 2px solid #d0d0d0;
  -webkit-box-shadow: 0 7px 4px rgba(0,0,0,.5);
  -moz-box-shadow: 0 7px 4px rgba(0,0,0,.5);
  box-shadow: 0 7px 4px rgba(0,0,0,.5);
  transition: .5s ease-in;
  background-color: #D9853B;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
  padding:5px;
  margin:5px 0px 10px 0px;
}



/*Wiki Search Container*/
section#wiki{
  background-color: #558C89;
  margin-top: 10px;
}

span.wiki{
  color: #D9853B;
}

.wikiSearchText{
  color: #fff;
  font-size: 50px;
}

i{
  color: #fff;
}

.wikiWrapper{
  width: 100%;
  height: auto;
  background-color:#558C89;
}

/*Wikki Paragraph*/
.wikiClick{
  color: #fff;
  font-size: 25px;
  font-weight: 700px;
}

/*Result Url Link*/
a.resultUrl{
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  color:#D9853B;
}

/*Wiki Paragrpah information*/
p.extract{
  margin-top: 10px;
  font-size: 25px;
  padding: 10px;
  line-height: 120%;
  font-family: 'Roboto',sans-serif;
  text-align: left;
  color:#000;
}

li{
  background: #ECECEA;
  border-bottom: 2px solid #558C89;
}

footer{
  background:#D9853B;
  width: 100%;
  height: 80px;

}

.footerContainer{
  width: 100%;
  padding: 20px;
}

p.copyright{
  font-size: 20px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 100%;
}

p.group{
  font-size: 20px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: inline-block;
  width: 100%;
}
/*----------Ipad Media Queries-----------*/
@media screen and (max-width: 768px){
#logo{
  width: 100%;
    
  }
  /*Div that holds Article*/
#articleImage{
 text-align: center;
 background:#fff;
 -webkit-box-shadow: 0 7px 4px rgba(0,0,0,.8);
 -moz-box-shadow: 0 7px 4px rgba(0,0,0,.8);
 box-shadow: 0 7px 4px rgba(0,0,0,.8);
 height: 750px;
 padding-top: 20px;

}

p#title{
  height: 150px;
  padding: 10px;
}

/* Size of Dynamic loaded img*/
.imageSize{
  height: 400px;
  width: 750px;
}
/*Dynamic Description*/
p.description{
  text-align: left;
  font-size: 30px;
  color: #000;
  line-height: 120%;
  font-weight: 400;
  padding:5px;
  font-family: 'Roboto',sans-serif;
  width: 100%;
  padding: 25px 15px 5px 15px;
  margin:0;
}

  #articleImage{
    width: 100%;
  }

/*Posistion of arrow*/
.arrow {
  margin-left:0px;
  width: 40px;
  height: 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
  background-size: contain;
}

/*Wiki click search container*/
.wikiContainer{
  margin-top: 10px;
}

/*Wikki Paragraph*/
.wikiClick{
  color: #fff;
  font-size: 25px;
  font-weight: 700px;
  font-family: 'Roboto', sans-serif;
  margin-top: 55px;
}

/*Result Url Link*/
a.resultUrl{
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  color:#D9853B;
  padding:0;
}

/*Wiki Paragrpah information*/
p.extract{
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  line-height: 120%;
  font-family: 'Roboto',sans-serif;
  text-align: left;
  color:#000;
}

li{
  background: #ECECEA;
    border-bottom: 2px solid #558C89;
}
}


/*-----------Cell Media Queries------------*/
@media screen and (max-width: 568px){

.hero-image{
  width: 100%;
  height: 900px;
  background: #74AFAD;
  -webkit-box-shadow: 0 7px 4px rgba(0,0,0,.8);
  -moz-box-shadow: 0 7px 4px rgba(0,0,0,.8);
  box-shadow: 0 7px 4px rgba(0,0,0,.8);
  margin-bottom: 30px;
}


/*Subscribe Heading*/
h1.subscribeHeading{
  font-size: 30px;
  font-family: 'aflfont',sans-serif;
  font-weight: 700;
  color: #D9853B;
  margin:0;
  padding: 10px;
}

/*Container that holds sections*/
section.subscribe{
  margin-top:30px;
  width: 100%;
  margin-bottom: 10px;
  background: #558C89;
  height: 200px;
  border-radius: 10px;
   -webkit-box-shadow: 0 7px 4px rgba(0,0,0,.5);
 -moz-box-shadow: 0 7px 4px rgba(0,0,0,.5);
 box-shadow: 0 7px 4px rgba(0,0,0,.5);
}

/*input box for subscribe*/
input{
  width: 200px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding-right: 5px;
  height: 40px;
  background:#ECECEA;
}


.subscribe-form{
  padding-top: 10px;
}

/*Subscribe button*/
button.subscribe-submit{
  color: #fff;
  border: 2px solid #d0d0d0;
  box-shadow: 4px 6px rgba(0,0,0,.5);
  transition: .5s ease-in;
  background-color: #D9853B;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
  padding:5px;
  margin-top: 30px;
}

p.subscribeText{
  padding:5px;
  text-align: left;
}
/*Posistion of arrow*/
.arrow {
  position: absolute;
  bottom: -35%;
  left: 46%;
  margin-left:0px;
  width: 40px;
  height: 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
  background-size: contain;
}

.imageSize{
  max-width: 300px;
  max-height: 200px;
  text-align: center;
  margin:0px;
}

p#title{
  height: 130px;
  padding: 10px;
  text-align: left;
}

/*Dynamic Description*/
p.description{
  text-align: left;
  font-size: 20px;
  color: #000;
  line-height: 110%;
  font-weight: 400;
  padding:5px;
  font-family: 'aflfont', sans-serif;
  padding: 15px 15px 5px 15px;
}

/*Artcile link */
a.articleLink{
  padding:5px;
  font-size: 20px;
  }

  #articleImage{
    width: 100%;
    height: 500px;
  }
  #sourcelessLogo{
 width: 250px;
 text-align: center;
 margin:0, auto;
 padding:0;
}

/*Wiki click search container*/
.wikiContainer{
  margin-top: 10px;
}

/*Wikki Paragraph*/
.wikiClick{
  color: #fff;
  font-size: 25px;
  font-weight: 700px;
  font-family: 'Roboto',sans-serif;
  text-align: left;
}

/*Result Url Link*/
a.resultUrl{
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  color:#D9853B;
}

/*Wiki Paragrpah information*/
p.extract{
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  line-height: 120%;
  font-family: 'Roboto',sans-serif;
  text-align: left;
  color:#000;
}

li{
  background: #ECECEA;
  border-bottom: 2px solid #558C89;
}

.footerContainer{
  width: 100%;
  padding: 5px;
  text-align: left;
}

p.copyright{
  font-size: 20px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 100%;
}

p.group{
  font-size: 15px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  padding-top: 3px;
}

/*Paragraph Header*/
p.headerText{
  text-align: left;
}
}


